.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161bbb;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 250, 250);
    -webkit-transition: .4s;
    transition: .4s;
  }

  
  input:checked + .slider {
    background-color:#d6dadc;
  }
 

  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    height: 25px;
    width: 50px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





  .form{
    position: relative;

    
    /* width: 1014px; */
    height: 700px;
    background-color: rgb(16, 21, 23);
    /* margin-left: 200px; */
    border-radius: 20px;
  }
  .form h2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* margin: 20px; */
    padding: 10px;
    
    margin-left: 630px;  
    
  }
.rememberStyle{
    height: 15px;
    width: 20px; 
    margin-top: -11px;
    margin-left: 13px;
    border-radius: 5px;
    
}
  .section{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0px;
    height: 608px;
    width: 350px;
    padding: 50px;
    left: 540px;
    border-radius: 5px;
  }
  .section label{
    margin-left: 10px;
    font-size: small;

  }
 

  .icon{
    position: relative;
    /* top: -20px; */
    border: 2px solid rgb(223, 15, 15);
    height: 30px;
    margin-top: 5px;
    width: 347px;
    left: 7px;
    border-radius: 5px;
    

  }
 
  .fa-exclamation-circle{
    position: absolute;
    left: 325px;
    top: 9px;
    color: red;
  }
  .para1{
  position:absolute ;
  left: 6px;
  top: -5px;
  font-size: small;
  opacity: 0.7;

  }

 
 
  
.InputText{
  font-size:10px;    
    margin: 7px;
    border: 1px solid rgb(181,176,176);
    
    /* border: -0.1; */
    height: 29px;
    width: 340px;
    border-radius: 5px;
    padding-left: 5px;
}

.para{
font-size: medium;
font-size: small;
margin-top: -5px;
margin-left: 10px;
}

.section .spa{
     margin: 10px;
     font-size: medium;
     font-weight: bold;
}
.inputspan{
  font-size: small;
  margin-left: 12px;
  color: red;
  margin-top: -17px;
  width: 500px;
}
.form3child{
    display: flex;
    margin-top: 5px;
    margin-left: 2px;
}

.form3child p{
    position: absolute;
    top: -5px;
    display: flex;
    margin-left: 60px;
    
}
.form4child{
    margin-top: 1px;
}
.form4child input{
  margin: 10px;
  margin-left: 15px;
}
.form4child label{
    font-size: small;
}

.form5child{
    margin-top: 10px;

}
.form5child label{
      font-size: small;
    margin-left: 13px;
}

.form6child{
  display: flex;
  justify-content: space-between;
    margin-top: 60px;
    color: #2196F3;
}
.form6child button  { 
    width: 100px;
    border-color: #ccc;
    margin-top:7px;
    color: rgb(49, 104, 214);
    
    margin-left: 10px;
    border-radius: 5px;
    height: 40px;
}









