.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





  .form{
    position: relative;

    
    /* width: 1014px; */
    height: 800px;
    background-color: skyblue;
    /* margin-left: 200px; */
    border-radius: 20px;
  }
  .form h2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* margin: 20px; */
    padding: 10px;
    
    margin-left: 630px;
    
  }
.rememberStyle{
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-left: 13px;

}
  .section{
    position: absolute;
    background-color: aliceblue;
    top: 40px;
    height: 630px;
    width: 350px;
    padding: 20px;
    left: 540px;
    border-radius: 5px;
  }
  .section label{
    font-size: medium;
    margin-left: 20px;
  }
.InputText{
  font-size: medium;
    margin: 10px;
    height: 30px;
    width: 340px;
    border-radius: 5px;
}
.section .spa{
     margin: 10px;
     font-size: medium;
     font-weight: bold;
}
.form3child{
    display: flex;
    margin-top: 20px;
    margin-left: -12px;
}
.form3child p{
    position: absolute;
    top: -10px;
    display: flex;
    margin-left: 70px;
    font-weight: bold;
    
}
.form4child{
    margin-top: 10px;
}
.form4child input{
  margin: 10px;
}
.form4child label{
    font-size: medium;
    font-weight: bold;
}

.form5child{
    margin-top: 40px;

}
.form5child label{
      font-size: medium;
      font-size: large;
    margin-left: 8px;
}

.form6child{
  display: flex;
  justify-content: space-between;
    margin-top: 70px;
}
.form6child button  {
  justify-content: space-between;
    margin: 40px;
    margin-left: 20px;
    width: 200px;
    margin-top:7px;
    border-radius: 20px;
    height: 40px;
}
.form6child button:hover{
    background-color: green;
    cursor: pointer;
    
}






